{
  "admin_key": "sk-admin-your-secret-key",
  "keys": {
    "sk-example-user1-key": {
      "name": "User 1",
      "enabled": 1,
      "created": "2026-01-01T00:00:00+08:00",
      "usage": {
        "total_input": 0,
        "total_output": 0,
        "total_requests": 0,
        "last_used": null,
        "daily": {},
        "total_by_model": {},
        "hourly": {}
      }
    },
    "sk-example-user2-key": {
      "name": "User 2",
      "enabled": 1,
      "created": "2026-01-01T00:00:00+08:00",
      "usage": {
        "total_input": 0,
        "total_output": 0,
        "total_requests": 0,
        "last_used": null,
        "daily": {},
        "total_by_model": {},
        "hourly": {}
      }
    }
  }
}
